* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blocks {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  border: 1px solid black;
}

#container {
  border: 1px solid black;
  margin: 150px auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#container-wrapper {
  display: none;
  align-items: center;
}

#pvp {
  padding: 20px;
  margin: 400px 800px;
  width: 200px;
  position: absolute;
}

input {
  border: 1px solid black;
  margin-left: 50px;
}
#label-wrapper {
  display: flex;
  margin: 500px 720px;
  position: absolute;
}
#start {
  padding: 20px;
  margin: 600px 800px;
  width: 200px;
  position: absolute;
}
#p1span{
  position: absolute;
  left: 200px;
}
#p2span{
  position: absolute;
  right: 200px;
}
#result{
  text-align: center;
}
#select-wrapper{
  position: absolute;
  display: flex;
  /* width: 900px; */
  height: 400px;
  margin: 0 auto;
}