* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(236, 241, 235);
  font-family: "Cedarville Cursive", cursive;
  font-size: 38px;
}

/* actual game board start */

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  border: 1px solid rgb(238, 231, 231);
}

#container {
  font-family: "Anton", sans-serif;
  box-shadow: 12px 12px 12px rgb(104, 102, 102);
  color: white;
  background: black;
  margin: 150px auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#gameContainer {
  width: 1850px;
  margin: 0 auto;
  display: none;
  position: absolute;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#container-wrapper {
  width: 1200px;
  display: flex;
  align-items: center;
}

/* actual game board end */

/* landing page start  */
#landingPage {
  background: #6acba3;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#heading {
  font-size: 48px;
  grid-row: 1;
  grid-column: 3;
  border-bottom: 3px solid black;
}
#pvp {
  grid-row: 2;
  grid-column: 2;
}
#pva {
  grid-row: 2;
  grid-column: 3;
}
#ava {
  grid-row: 2;
  grid-column: 4;
}
#p1Name {
  grid-row: 3;
  grid-column: 2;
}
#p2Name {
  grid-row: 3;
  grid-column: 4;
}
#start-container {
  grid-row: 4;
  grid-column: 3;
}
/* landing page end */

/*radio label  */
.radio-label{
  position: relative;
  cursor: pointer;
}
.radio-label input[type="radio"]{
display: none;
}
.radio-label span{
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 5px solid rgb(12, 149, 190);
  display: block;
  padding: 5px;
  position: absolute;
  left: -38px;
  top: 24px;

}
.radio-label span:after{
  content: "";
  height: 8px;
  width: 8px;
  display: block;
  background-color: rgb(12, 149, 190);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
  transition: 200ms ease-in;
}

.radio-label input[type="radio"]:checked ~ span:after{
  transform: translate(-50%,-50%) scale(1);
}